services:
#  api-gateway:
#    container_name: api-gateway
#    networks:
#      - gateway-network
#    ports:
#      - "8080:8080"
#    build:
#      context: ./gateway
#      dockerfile: Dockerfile
#    restart: unless-stopped
#    depends_on:
#      - redis
#      - loki
#      - grafana
#      - prometheus
#      - user-service
#      - payment-service
#      - product-service
  redis:
    image: redis:7.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - gateway-network
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

  loki:
    image: grafana/loki:main
    container_name: loki
    ports:
      - "3100:3100"
    networks:
      - gateway-network
    restart: unless-stopped
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config.yml:/etc/loki/local-config.yaml
      - loki-data:/loki
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3100/ready"]
      interval: 10s
      timeout: 3s
      retries: 5

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin123
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_ROOT_URL=http://localhost:3000
    networks:
      - gateway-network
    restart: unless-stopped
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml
    depends_on:
      - loki
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/api/health"]
      interval: 10s
      timeout: 3s
      retries: 3

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    networks:
      - gateway-network
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'

  # Just to test for now
  user-service:
    image: kennethreitz/httpbin
    container_name: user-service
    ports:
      - "8081:80"
    networks:
      - gateway-network

  payment-service:
    image: kennethreitz/httpbin
    container_name: payment-service
    ports:
      - "8082:80"
    networks:
      - gateway-network

  product-service:
    image: kennethreitz/httpbin
    container_name: product-service
    ports:
      - "8083:80"
    networks:
      - gateway-network

networks:
  gateway-network:
    driver: bridge

volumes:
  redis-data:
  loki-data:
  grafana-data:
  prometheus-data: