spring:
  application:
    name: api-gateway-circuitbreaker
  data:
    redis:
      host: localhost
      port: 6379
      password: ""
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: api-gateway
  tracing:
    sampling:
      probability: 1.0
    baggage:
      enabled: true
      remote-fields:
        - user-id
        - tenant-id
      correlation:
        fields:
          - user-id
          - tenant-id
  grafana-lgtm:
    image: 'grafana/otel-lgtm:latest'
    ports:
      - '3000:3000'
      - '4317:4317'
      - '4318:4318'
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: "5s"
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        minimum-number-of-calls: 5
  timelimiter:
    configs:
      default:
        timeout-duration: "3s"
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: "2s"
loki:
  url: ${loki_url:http://localhost:3100/loki/api/v1/push}
routes:
  payment-service: ${payment_service_url:http://localhost:8082}
  product-catalog-service: ${product_catalog_service_url:http://localhost:8083}
  user-service: ${user_service_url:http://localhost:8081}
