<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="lokiUrl" source="loki.url"
                    defaultValue="http://loki:3100/loki/api/v1/push"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}</url>
            <connectionTimeoutMs>5000</connectionTimeoutMs>
            <requestTimeoutMs>10000</requestTimeoutMs>
        </http>

        <format>
            <label>
                <pattern>
                    app=${appName},
                    level=%level,
                    logger=%logger{36}
                </pattern>
                <readMarkers>true</readMarkers>
            </label>

            <message>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS}
                    [%thread]
                    %-5level
                    %logger{36}
                    - %msg%n%ex
                </pattern>
            </message>

            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <logger name="org.springframework.cloud.gateway" level="DEBUG"/>
    <logger name="org.springframework.web.servlet.function" level="DEBUG"/>
    <logger name="io.github.bucket4j" level="INFO"/>
    <logger name="io.github.resilience4j" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
